@import 'tailwindcss';

@import '@fontsource-variable/archivo';
@import '@fontsource-variable/bricolage-grotesque';
@import '@fontsource-variable/reddit-mono';

:root {
    --background: hsl(225, 20%, 15%);
    --background-alt: hsl(0 0% 10%);
    --foreground: hsl(0 0% 95%);
    --foreground-alt: hsl(0 0% 70%);
    --muted: hsl(240 5% 16%);
    --muted-foreground: hsla(0 0% 100% / .5);
    --border: hsl(0 0% 95%);
    --border-input: hsla(0 0% 95% / .15);
    --border-input-hover: hsla(0 0% 95% / .5);
    --border-card: hsla(0 0% 95% / .1);
    --dark: hsl(0 0% 95%);
    --dark-40: hsl(0 0% 95% / .5);
    --dark-10: hsl(0 0% 95% / .1);
    --dark-04: hsl(0 0% 95% / .05);
    --accent: hsl(200 90% 90%);
    --accent-foreground: hsl(200 95% 95%);
    --destructive: hsl(350 90% 60%);
    --line: hsl(0 0% 10%);
    --tertiary: hsl(60 100% 80%);

    --contrast: hsl(0 0% 100%);

    --shadow-mini: 0px 1px 0px 1px rgba(0, 0, 0, .25);
    --shadow-mini-inset: 0px 1px 0px 0px rgba(0, 0, 0, .5) inset;
    --shadow-popover: 0px 7px 12px 3px hsla(0deg 0% 0% / 30%);
    --shadow-kbd: 0px 2px 0px 0px rgba(255, 255, 255, .05);
    --shadow-btn: 0px 1px 0px 1px rgba(0, 0, 0, .2);
    --shadow-card: 0px 2px 0px 1px rgba(0, 0, 0, .5);
    --shadow-date-field-focus: 0px 0px 0px 3px rgba(244, 244, 245, .1);
}

@theme inline {
    --color-background: var(--background);
    --color-background-alt: var(--background-alt);
    --color-foreground: var(--foreground);
    --color-foreground-alt: var(--foreground-alt);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-border: var(--border-card);
    --color-border-input: var(--border-input);
    --color-border-input-hover: var(--border-input-hover);
    --color-border-card: var(--border-card);
    --color-dark: var(--dark);
    --color-dark-10: var(--dark-10);
    --color-dark-40: var(--dark-40);
    --color-dark-04: var(--dark-04);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-tertiary: var(--tertiary);
    --color-line: var(--line);
    --color-contrast: var(--contrast);

    --shadow-mini: var(--shadow-mini);
    --shadow-mini-inset: var(--shadow-mini-inset);
    --shadow-popover: var(--shadow-popover);
    --shadow-kbd: var(--shadow-kbd);
    --shadow-btn: var(--shadow-btn);
    --shadow-card: var(--shadow-card);
    --shadow-date-field-focus: var(--shadow-date-field-focus);

    --text-xxs: 10px;

    --radius-card: 15px;
    --radius-card-lg: 21px;
    --radius-card-sm: 9px;
    --radius-input: 9px;
    --radius-button: 6px;

    --spacing-input: 3rem;
    --spacing-input-sm: 2.5rem;

    --breakpoint-desktop: 1440px;

    --animate-accordion-down: accordion-down .2s ease-out;
    --animate-accordion-up: accordion-up .2s ease-out;
    --animate-caret-blink: caret-blink 1s ease-out infinite;
    --animate-scale-in: scale-in .2s ease;
    --animate-scale-out: scale-out .15s ease;
    --animate-fade-in: fade-in .2s ease;
    --animate-fade-out: fade-out .15s ease;
    --animate-enter-from-left: enter-from-left .2s ease;
    --animate-enter-from-right: enter-from-right .2s ease;
    --animate-exit-to-left: exit-to-left .2s ease;
    --animate-exit-to-right: exit-to-right .2s ease;

    --font-sans: 'Bricolage Grotesque Variable', sans-serif;
    --font-mono: 'Reddit Mono Variable', monospace;
    --font-display: 'Archivo Variable', sans-serif;
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-border-card, currentColor);
    }

    * {
        @apply border-border;
    }

    html {
        -webkit-text-size-adjust: 100%;
        font-variation-settings: normal;
        scrollbar-color: var(--bg-muted);
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings:
            'rlig' 1,
            'calt' 1;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-display);
    }

    p code {
        padding: 0 .25rem;
        background: var(--color-gray-600);
        font-size: .9rem;
    }

    ::selection {
        background: #fdffa4;
        color: black;
    }
}

@layer components {
    *:not(body):not(.focus-override) {
        outline: none !important;

        &:focus-visible {
            @apply focus-visible:ring-foreground focus-visible:ring-offset-background focus-visible:outline-hidden focus-visible:ring-2 focus-visible:ring-offset-1;
        }
    }

    .link {
        @apply hover:text-foreground/80 focus-visible:ring-foreground focus-visible:ring-offset-background rounded-xs focus-visible:outline-hidden inline-flex items-center gap-1 font-medium underline underline-offset-4 focus-visible:ring-2 focus-visible:ring-offset-2;
    }
}

input::-ms-reveal,
input::-ms-clear,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}